---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro'

import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos-small.png';
--- 

<Layout title="About">
  <Showcase  showExtra={false} showBanner={false} showHeading={false} showText={true} heading="Larger Text" text="About" />
    <section class="page-content">
        <div class="container">
          <p>
            "Welcome to DiFusion Design Lab, the ultimate destination where human ingenuity and AI capabilities come together to forge a new era of creativity and innovation. Our mission is to empower creators, artists, designers, and developers by providing a collaborative platform that unites the strengths of both humans and AI.

            At DiFusion Design Lab, we believe that the fusion of diatomic elements - just like the combination of human and AI minds - has the potential to generate unprecedented results. Our diverse team of experts is dedicated to constantly exploring, learning, and pushing the boundaries of what is possible when these two worlds collide.
            
            Join us on this exciting journey and experience the future of design, art, and technology!"
          </p>
          
          <h3>Deploy to anywhere, even the edge</h3>
          <p>Set different images for different scaling.</p> 
          <img class="logos" src={logos} alt="" />
          <img class="logos-small" src={logosSmall} alt="" />
      
          <h3>Join our Community</h3>
          <p></p>

          <p>
            Join us in the Astro Discord to share with and get help from an
            active, friendly community!
          </p>
  
          <ul>
          <li>💬 Say hi in our #introduce-yourself channel!</li>
          <li>💬 Ask our Support Squad a question in our #support-threads channel!</li>
          <li>💬 Share what you've been working on in our #showcase channel!</li>
          </ul>
       
        </div>
      </section>
</Layout>
