---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Tabs from '../components/Tabs.astro';
import Card from '../components/Card.astro';
---

<link rel="icon" href="/icon.svg" type="image/svg+xml" />

<!-- Layout Used: Layout.astro-->
<Layout title="DiFusion Labs">

<!-- Showcase.astro Disabled -->
<Showcase  showExtra={false} showBanner={false} showHeading={true} showText={false} />

<!-- Features.astro -->
<Features />

<!-- Main Body HTML Start -->
<section class="page-content">
<div class="container">

	<!-- Title -->	
	<h2>Tab Box Demo</h2>

	<!-- Body Text -->
	<p>
	Here is a tab box demo. You can click on each tab to display its contents. Great for code snipits.
	</p>

	<!-- Tabs -->
	<Tabs headings={['npm', 'pnpm', 'Yarn']} contents={['$ npm paste code here', '$ pnpm paste code here', '$ yarn paste code here']} />

	<!-- Body Text -->
	<h3>Filler Title Here</h3>
	<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
	deserunt inventore ut voluptate, officia maiores repellat tenetur
	praesentium omnis est ex tempora a necessitatibus reiciendis at et
	dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
	laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
	iusto error molestias dolorum, necessitatibus labore?
	</p>

	<!-- Body Text using the Card Code -->
	<Card dark={true}>
	<h3>Use the <mark>Card Code</mark> to wrap a body of text into a stylized card.</h3>
	<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
	deserunt inventore ut voluptate, officia maiores repellat tenetur
	praesentium omnis est ex tempora a necessitatibus reiciendis at et
	dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
	laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
	iusto error molestias dolorum, necessitatibus labore?
	</p>
	</Card>

</div>
</section>

</Layout>