---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Tabs from '../components/Tabs.astro';
import Card from '../components/Card.astro';
---

<link rel="icon" href="/icon.svg" type="image/svg+xml" />

<!-- Layout Used: Layout.astro-->
<Layout title="DiFusion">

<!-- Showcase.astro Disabled -->
<Showcase  showExtra={false} showBanner={false} showHeading={false} showText={true} />

<!-- Features.astro -->
<Features />

<!-- Main Body HTML Start -->
<section class="page-content">
<div class="container">

	<!-- Title -->	
	<h2>Tab Box Demo</h2>

	<!-- Body Text -->
	<p>
		Welcome to DiFusion Design Lab, your gateway to the world of AI-powered creativity! Here, we believe in the seamless fusion of human ingenuity and machine learning, unlocking new potentials in art, design, and everyday life. As you explore our website, you'll discover cutting-edge AI tools such as generative models like Stable Diffusion, language models like ChatGPT, and much more. Whether you're an aspiring artist, a professional looking to improve your workflow, or just someone who loves to learn, DiFusion Design Lab is your ultimate resource for harnessing the power of AI. Get ready to embark on a journey where the lines between the diatomic and the digital blur, and the future of creativity is shaped before your very eyes.
	</p>

	<!-- Tabs -->
	<Tabs headings={['npm', 'pnpm', 'Yarn']} contents={['$ npm paste code here', '$ pnpm paste code here', '$ yarn paste code here']} />

	<!-- Body Text -->
	<h3>Filler Title Here</h3>
	<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
	deserunt inventore ut voluptate, officia maiores repellat tenetur
	praesentium omnis est ex tempora a necessitatibus reiciendis at et
	dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
	laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
	iusto error molestias dolorum, necessitatibus labore?
	</p>

	<!-- Body Text using the Card Code -->
	<Card dark={true}>
	<h3>Use the <mark>Card Code</mark> to wrap a body of text into a stylized card.</h3>
	<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
	deserunt inventore ut voluptate, officia maiores repellat tenetur
	praesentium omnis est ex tempora a necessitatibus reiciendis at et
	dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
	laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
	iusto error molestias dolorum, necessitatibus labore?
	</p>
	</Card>

</div>
</section>

</Layout>